{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="btn-close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <center>
        <h2>Welcome to my authentication website</h2>
    </center>

    {% if user.is_authenticated %}
    <center class="my-5">
        <h3>Hello {{ fname }}</h3>
        <h4 class="my-3">You're successfully logged in.</h4>
        <h2>Current Time : {{ now }}</h2>
        <button type="submit" class="btn btn-primary my-4">
            <a href="/signout" class="link-offset-2 link-underline link-underline-opacity-0 link-light">Signout</a>
        </button>
    </center>
    {% endif %}

</div>

{% endblock %}