{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    <form action="/signin" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Type in your username.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1">
            <div id="emailHelp" class="form-text">Type in your Password.</div>
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
</div>

{% endblock %}